entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[agent]
expertMode = true

[userenv]

[userenv.shared]
PORT = "5000"
JWT_EXPIRES_IN = "7d"
GOOGLE_CALLBACK_URL = "http://localhost:3000/api/auth/google/callback"
CLIENT_URL = "http://localhost:3000"
NODE_ENV = "development"
MONGODB_URI = "mongodb+srv://hireswift:RJAe78At9CdPR0wY@cluster0.lrxciqu.mongodb.net/hireswift?appName=Cluster0"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80
